

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    
}

/* --- Main Content Section --- */

main {
    background: linear-gradient(145deg, #f7fbff, #eaf3ff); 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 85%;
    margin: 50px auto;
    line-height: 1.6;
}
